name: Run Gaming Bot

on:
  workflow_dispatch:      # زر تشغيل يدوي
  schedule:
    - cron: '0 16 * * *'  # تشغيل يومي الساعة 4 عصراً بتوقيت جرينتش (السابعة مساءً بتوقيتك)

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install google-api-python-client google-auth requests markdown bleach APScheduler backoff python-dateutil feedparser Flask google-play-scraper

      - name: Run Gaming Bot
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          BLOG_URL: ${{ secrets.BLOG_URL }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
        run: python gaming_bot.py
